
@{
    ViewBag.Title = "NoComment";
    Layout = "~/Views/Shared/AuthorLayout.cshtml";
}

<html>

<body class="hold-transition sidebar-mini">

    <!-- Main content -->

    <section class="content">

        <div class="container-fluid">

            <div class="row">

                <div class="card-body">

                    <!-- Post -->
                    <!-- /.user-block -->
                    <h6 class="alert alert-danger d-inline-block ">Yorum Bulunmamaktadır.</h6>







                </div>

            </div>

        </div><!-- /.card-body -->



    </section>

</body>

</html>


